
.full-screen {
  background-image: url(images/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width:100%;
 height: 300px;
}

.social_buttons{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 500px;
}

.logo-img{
  padding-top: 200px;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon{
  width: 50px;
  height: auto;
}

.icon p:hover{
  width: 60px;
  height: auto;
}
